*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #f7f5f5;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.nav-name{
    width: 100%;
    font-size: 10px;
    margin-left: 50px;
}
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
}
.navbar a{
    color: black;
}
.prifle-con{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.pro{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80%;
}
.pro-img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.pro-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 15px;
    font-size: 20px;
}
.profile{
    width: 70%;
    border-radius: 200px;
}
.pro-info p{
    font-weight: 500;
}
.pro-info .pname{
    font-weight: 800;
}
.proBtn{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.proBtn a{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.downloadcv{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
}
.contact{
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
}
.downloadcv:hover{
    background-color: black;
    color: white;
}
.contact:hover{
    background-color: white;
    color: black;
}
.aboutme{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.abtme-con{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.abt-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.exp-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.proj-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.abtimg{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 40%;
}
.abtbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.abtinfo{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
}
.abtinfo2{
    width: 83%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
}
.abtpics{
    width: 70%;
    border-radius: 40px;
}
.box{
    width: 40%;
    height: 25vh;
    background-color: rgb(252, 252, 252);
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.boximg{
    width: 10%;
}
.box .Aname{
    font-weight: 700;
}
.experience{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.project{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
}
.exp-con{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.expbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 40%;
    height: 50vh;
    border-radius: 30px;
    font-weight: 500;
}
.expbox-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
    margin-left: 30px;
}
.boxhead{
    font-size: 20px;
}
.boxrowIMG{
    width: 10%;
}
.approve{
    width: 100%;
}
.boxx{
    display: flex;
    flex-direction: row;
}
.boxrow{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: center;
}
.boxtext{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.btext{
    font-weight: 400;
    font-size: 12px;
}
.expbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 40%;
    height: 50vh;
    border-radius: 30px;
    font-weight: 500;
}
.project-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.probox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    border: 1px solid black;
    width: 28%;
    height: 70vh;
    border-radius: 30px;
    font-weight: 500;
    gap: 20px;
}
.proj-con{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.proimg{
    width: 70%;
    height: 25vh;
    border-radius: 30px;
}
.probox .pname{
    font-size: 25px;
    font-weight: 700;
}
.proBtn{
    width: 100%;
}
.github{
    border: 1px solid black;
    background-color: white;
    width: 30%;
    border-radius: 30px;
    padding: 10px;
    font-weight: 600;
}
.contactme{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}
.contactme-con{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.boxcontact{
    border-radius: 30px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.booo{
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    width: 50%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid black;
}
.boxo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.contimg{
    width: 13%;
}
footer{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.footerbar{
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100%;
    justify-content: end;
    align-items: center;
}
.footerbar ul{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 20px;
    font-weight: 600;
}
.footerbar a{
    color: black;
}
.footer-copyright p{
    font-size: 13px;
    font-weight: 400;
}

/* MEDIA */

@media screen and (min-width: px) {
    *{
        font-size: 9px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 70vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        width: 100%;
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 100vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-bottom: 40px;
        gap: 20px;
    }
    .abtimg{
        width: 100%;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 80%;
        height: 15vh;
    }
    .abtinfo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .abtinfo2{
        width: 80%;
    }
    .experience{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 30px;
        gap: 10px;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 20px;
    }
    .boxx{
        display: flex;
        flex-direction: column;
        gap: 5px;

    }
    .proj-head{
        margin-bottom: 60px;
    }
    .project{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .probox{
        width: 50%;
        height: 30vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 12px;
    }
    .contactme{
        height: 30vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 60%;
    }
    .footer-copyright p{
        font-size: 7px;
    }
}
@media screen and (min-width: 344px) {
    *{
        font-size: 9px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 30vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 60vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 70%;
        height: 10vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 50vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 20vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 10px;
    }
    .proj-head{
        margin-bottom: 20px;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        height: 70vh;
    }
    .probox{
        width: 50%;
        height: 20vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 12px;
    }
    .contactme{
        height: 10vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 60%;
    }
    .footer-copyright p{
        font-size: 7px;
    }
}
@media screen and (min-width: 375px) {
    *{
        font-size: 10px;
    }
    .navbar ul{
        width: 100%;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 50vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 100vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 70%;
        height: 20vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 100vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 30vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 10px;
    }
    .proj-head{
        margin-bottom: 20px;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .probox{
        width: 50%;
        height: 30vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 900%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 12px;
    }
    .contactme{
        height: 30vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 60%;
    }
    .footer-copyright p{
        font-size: 7px;
    }
}
@media screen and (min-width: 414px) {
    *{
        font-size: 10px;
    }
    .navbar ul{
        width: 100%;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 40vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 60vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 70%;
        height: 10vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 60vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 20vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 10px;
    }
    .project{
        height: 70vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 50%;
        height: 20vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 12px;
    }
    .contactme{
        height: 25vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 60%;
    }
    .footer-copyright p{
        font-size: 7px;
    }
}
@media screen and (min-width: 390px) {
    *{
        font-size: 10px;
    }
    .navbar ul{
        width: 100%;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 40vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 60vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 70%;
        height: 10vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 60vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 20vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 10px;
    }
    .project{
        height: 80vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 60%;
        height: 25vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 12px;
    }
    .contactme{
        height: 30vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 60%;
    }
    .footer-copyright p{
        font-size: 7px;
    }
}
@media screen and (min-width: 430px) {
    *{
        font-size: 10px;
    }
    .navbar ul{
        width: 100%;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 40vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 60vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 70%;
        height: 10vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 60vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 20vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 10px;
    }
    .project{
        height: 80vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 60%;
        height: 25vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 12px;
    }
    .contactme{
        height: 35vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 60%;
    }
    .footer-copyright p{
        font-size: 7px;
    }
}
@media screen and (min-width: 412px) {
    *{
        font-size: 10px;
    }
    .navbar ul{
        width: 100%;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 40vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 60vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 70%;
        height: 10vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 60vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 20vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 10px;
    }
    .project{
        height: 80vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 60%;
        height: 25vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 12px;
    }
    .contactme{
        height: 30vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 60%;
    }
    .footer-copyright p{
        font-size: 7px;
    }
}
@media screen and (min-width: 360px) {
    *{
        font-size: 10px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 40vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 80vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 75%;
        height: 15vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 70vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 25vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 10px;
    }
    .project{
        height: 90vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 60%;
        height: 29vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 12px;
    }
    .contactme{
        height: 20vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 60%;
    }
    .footer-copyright p{
        font-size: 7px;
    }
}
@media screen and (min-width: 768px) {
    *{
        font-size: 15px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 50vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 90vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 60%;
        height: 15vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 70vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 20vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 20px;
    }
    .project{
        height: 100vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 50%;
        height: 30vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 15px;
    }
    .contactme{
        height: 20vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 50%;
    }
    .footer-copyright p{
        font-size: 10px;
    }
}
@media screen and (min-width: 820px) {
    *{
        font-size: 17px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 50vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 90vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 80%;
        height: 15vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 70vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 25vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 20px;
    }
    .project{
        height: 100vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 60%;
        height: 30vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 15px;
    }
    .contactme{
        height: 20vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 50%;
    }
    .footer-copyright p{
        font-size: 10px;
    }
}
@media screen and (min-width: 853px) {
    *{
        font-size: 19px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 50vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 90vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 80%;
        height: 15vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 70vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 25vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 20px;
    }
    .project{
        height: 100vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 60%;
        height: 30vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        margin-top: 20px;
    }
    .probox .pname{
        font-size: 15px;
    }
    .contactme{
        height: 20vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 50%;
    }
    .footer-copyright p{
        font-size: 10px;
    }
}
@media screen and (min-width: 1024px) {
    *{
        font-size: 20px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 50vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 90vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 80%;
        height: 15vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 70vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
        
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 25vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 20px;
    }
    .project{
        height: 100vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 60%;
        height: 30vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        height: 20vh;
    }
    .probox .pname{
        font-size: 15px;
    }
    .contactme{
        height: 20vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 50%;
    }
    .footer-copyright p{
        font-size: 10px;
    }
}
@media screen and (min-width: 912px) {
    *{
        font-size: 20px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 50vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 90vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 80%;
        height: 15vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 70vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
        
    }
    .exp-head{

    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 25vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 20px;
    }
    .project{
        height: 100vh;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 60%;
        height: 30vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        height: 20vh;
    }
    .probox .pname{
        font-size: 15px;
    }
    .contactme{
        height: 20vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 50%;
    }
    .footer-copyright p{
        font-size: 10px;
    }
}
@media screen and (min-width: 540px) {
    *{
        font-size: 13px;
    }
    .navbar ul{
        width: 100%;
        gap: 5px;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 60vh;
    }
    .pro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: center;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 100vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .abt-head{
        margin-bottom: 20px;
    }
    .abtbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .box{
        width: 70%;
        height: 15vh;
    }
    .abtinfo2{
        width: 100%;
    }
    .experience{
        height: 90vh;
    }
    .exp-con{
        display: flex;
        flex-direction: column;
        height: 100vh;
        
    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 30vh;
        
    }
    .expbox-con{
        margin: 0px;
        gap: 20px;
    }
    .project{
        height: 100vh;
    }
    .proj-head{
        margin-bottom: 50px;
    }
    .proj-con{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100vh;
    }
    .probox{
        width: 50%;
        height: 30vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 70%;
        height: 13vh;
    }
    .probox .pname{
        font-size: 15px;
    }
    .contactme{
        height: 35vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 50%;
    }
    .footer-copyright p{
        font-size: 10px;
    }
}
@media screen and (min-width: 1024px) {
    *{
        font-size: 15px;
    }
    .navbar ul{
        width: 100%;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 100vh;
    }
    .pro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: end;
        width: 100%;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 100vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: row;
    }
    .abtbox{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .box{
        width: 40%;
        height: 20vh;
    }
    .abtinfo2{
        width: 80%;
        font-weight: 600;
    }
    .experience{
        height: 100vh;
    }
    .exp-con{
        display: flex;
        flex-direction: row;
        height: 100vh;
        
    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40vh;
    }
    .project{
        height: 100vh;
    }
    .proj-con{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 25%;
        height: 50vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        height: 25vh;
    }
    .probox .pname{
        font-size: 15px;
    }
    .contactme{
        height: 40vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 35%;
    }
    .footer-copyright p{
        font-size: 12px;
    }
}
@media screen and (min-width: 1280px) {
    *{
        font-size: 15px;
    }
    .navbar ul{
        width: 100%;
    }
    .nav-name{
        width: 100%;
    }
    .prifle-con{
        height: 100vh;
    }
    .pro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .pro-info{
        width: 100%;
    }
    .pro-img{
        justify-content: end;
        width: 100%;
    }
    .proBtn a{
        width: 30%;
    }
    .aboutme{
        height: 100vh;
    }
    .abtme-con{
        display: flex;
        flex-direction: row;
    }
    .abtbox{
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    .box{
        width: 40%;
        height: 20vh;
    }
    .abtinfo2{
        width: 80%;
        font-weight: 600;
    }
    .experience{
        height: 100vh;
    }
    .exp-con{
        display: flex;
        flex-direction: row;
        height: 100vh;
        
    }
    .expbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40vh;
    }
    .project{
        height: 100vh;
    }
    .proj-con{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .probox{
        width: 30%;
        height: 50vh;
    }
    .proBtn{
        margin-bottom: 10px;
    }
    .proBtn .github{
        width: 30%;
        padding: 0px;
    }
    .proimg{
        width: 90%;
        height: 25vh;
    }
    .probox .pname{
        font-size: 15px;
    }
    .contactme{
        height: 40vh;
    }
    .contactme-con{
        margin: 0px;
        padding: 0px;
    }
    .booo{
        gap: 10px;
        width: 35%;
    }
    .footer-copyright p{
        font-size: 12px;
    }
}